{% extends 'base.html' %}
{% load static %}

{% block title %}
Artesãs
{% endblock %}

{% block content %}

<header>
    <div class="logo-wrapper">
        <img src="{% static 'maos_originarias/img/mo.png' %}" class="logo" alt="Logo">
        <a href="{% url 'maos_originarias:home' %}" class="logo">Mãos Originárias</a>
    </div>

    <nav class="nav-links">
        </nav>

    <ul>

        <li><a href="{% url 'maos_originarias:produto' %}">Produtos</a>

        <li><a href="">Comunidade</a></li>

        <li><a href="https://wa.me/558494260992" target="_blank">Contato</a></li>

        <li><a href="{% url 'maos_originarias:login' %}">Login</a></li>

        <li><a href="">Carrinho</a></li>

    </ul>

</header>
<body>

<section class="perfil-artesao">

    <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Bárbara Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Bárbara é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
     <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Débora Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Débora é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
 <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Emanuele Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Emanuele é a neta do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
 <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Bárbara Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Bárbara é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
 <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Bárbara Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Bárbara é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
 <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Bárbara Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Bárbara é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
 <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Bárbara Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Bárbara é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>
 <div class="cabecalho">

        <img src="{% static 'maos_originarias/img/bab.png' %}" alt="Artesão">

        <div class="info">
            <h1>Bárbara Felipe</h1>

            <p class="aldeia">
                Comunidade Potiguara • RN
            </p>

            <p class="descricao">
                Bárbara é a filha do Cacique Reginaldo Felipe e trabalha produzindo biojoias,
                cestarias e peças feitas com sementes e fibras
                coletadas de forma sustentável.
            </p>
            <div class="contato">
                <li><a href="https://wa.me/558494260992" target="_blank">Entre em contato</a></li>
            </div>
        </div>

    </div>


<section class="especialidades">

    <h2>Especialidades</h2>

    <div class="lista">

        <div class="item">
            🌿 Biojoias
        </div>

        <div class="item">
            🧺 Cestarias
        </div>

        <div class="item">
            🌰 Artes com sementes
        </div>

        <div class="item">
            🎨 Pintura indígena
        </div>

    </div>

</section>

</section>

</body>


<footer class="footer">

    <div class="footer-col">
        <h2>Mãos Originárias</h2>
        <p>Resgatando saberes ancestrais e gerando impacto socioambiental positivo através do artesanato indígena brasileiro.
        </p>

        <div class="social">
            <a href="#">Compartilhar site</a> |
            <a href="#">E-mail</a>
        </div>
    </div>

    <div class="footer-col">
        <h3>Links Rápidos</h3>
        <ul>
            <li>Sobre nós</li>
            <li>Nossos Parceiros</li>
            <li>Relatório de Impacto</li>
            <li>Termos de Uso</li>
        </ul>
    </div>

    <div class="footer-col">
        <h3>Atendimento</h3>
        <ul>
            <li>Políticas de Troca</li>
            <li>Envio e Entrega</li>
        <li><a href="https://wa.me/558494260992" target="_blank">Contato</a></li>
            <li>Dúvidas Frequentes</li>
        </ul>
    </div>
{% endblock %}
