PEGAR AS COISAS QUE SE REPETEM COLOCAR NUM DICIONARIO E COLOCAR PARA RETORNAR EM CADA PAGINA
{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<header>
    <div class="logo-wrapper">
        <img src="{% static 'maos_originarias/img/mo.png' %}" class="logo" alt="Logo">
        <h1>Maos Originarias</h1>
    </div>

    <nav class="nav-links">
        </nav>

    <ul>

        <li><a href="{% url 'maos_originarias:produto' %}">Produtos</a>

        <li><a href="">Comunidade</a></li>

        <li><a href="">Artesãs</a></li>

        <li><a href="">Blog</a></li>

        <li><a href="{% url 'maos_originarias:login' %}">Login</a></li>

        <li><a href="">Carrinho</a></li>

    </ul>

</header>



<main>


    <div class="banner">
            <img src="{% static 'maos_originarias/img/imagem.png' %}" style="width: 100%; height: auto; display: block;"> 

        <div class="texto-banner">
            <h2>Artesanato Indígena da Aldeia </h2>
            <h2>Potiguara Ibirapi de Lagoa Grande</h2>
            <h3>CEARÁ-MIRIM/RN</h3>
            <h3>Descubra peças únicas produzidas com alma, sabedoria e matérias-primas naturais.</h3>
        </div>
    </div>



    

    <div class="categorias-faixa">

        <h2 class="titulo-categorias">Categorias</h2>



        <div class="categorias-container">

            <div class="categoria-item">

                <img src="{% static 'maos_originarias/img/bio.png' %}">

                <p class="categoria-texto"><a href="">Biojoias</a></p>

            </div>



            <div class="categoria-item">

                <img src="{% static 'maos_originarias/img/ceramica.png' %}">

                <p class="categoria-texto"><a href="">Cerâmica</a></p>

            </div>



            <div class="categoria-item">

                <img src="{% static 'maos_originarias/img/vinho.png' %}">

                <p class="categoria-texto"><a href="">Vinhos</a></p>

            </div>



            <div class="categoria-item">

                <img src="{% static 'maos_originarias/img/petecas.png' %}">

                <p class="categoria-texto"><a href="">Petecas</a></p>

            </div>

        </div>

    </div>



    <h2 class="titulo-secao">Destaques da semana</h2>



    <div class="destaques-top">

        <a href="">Ver todos os Produtos →</a>

    </div>



    <div class="destaques-grid">



        <div class="produto-card">

            <img src="{% static 'maos_originarias/img/colar.png' %}">

            <p class="categoria">BIOJOIA</p>

            <h3>Colar Cobra Coral</h3>

            <p class="preco">R$ 80,00</p>

        </div>



        <div class="produto-card">

            <img src="{% static 'maos_originarias/img/travessa.png' %}">

            <p class="categoria">CERÂMICA</p>

            <h3>Travessa de Barro</h3>

            <p class="preco">R$ 120,00</p>

        </div>



        <div class="produto-card">

            <img src="{% static 'maos_originarias/img/colardois.png' %}">

            <p class="categoria">BIOJOIA</p>

            <li><a href="{% url 'maos_originarias:produto' %}">Colar Cobra Coral</a></li>

            <p class="preco">R$ 75,00</p>

        </div>



        <div class="produto-card">

            <img src="{% static 'maos_originarias/img/cumbuca.png' %}">

            <p class="categoria">CERÂMICA</p>

            <h3>Cumbuca de Barro</h3>

            <p class="preco">R$ 40,00</p>

        </div>
    </div>



    <section class="blog-section">

        <h2 class="titulo-secao">Nosso Blog</h2>

        <p class="blog-descricao">
            Histórias por trás de cada peça, o cotidiano nas aldeias e a importância da preservação das técnicas ancestrais.
        </p>

        <div class="blog-grid">

            <div class="blog-card">
                <img src="{% static 'maos_originarias/img/mulheres.png' %}" alt="">
            <div class="blog-conteudo">
                <div class="blog-categoria">CULTURA</div>
                <h3>O Renascimento da Cerâmica</h3>
                <p>
                    Como novas gerações de artesãs estão resgatando grafismos milenares para fortalecer sua identidade...
                </p>
                <a href="">Ler Mais →</a>
            </div>
        </div>

        <div class="blog-card">
            <img src="{% static 'maos_originarias/img/sustentabilidade.png' %}" alt="">
            <div class="blog-conteudo">
                <div class="blog-categoria">SUSTENTABILIDADE</div>
                <h3>Manejo Sustentável</h3>
                <p>
                    A relação sagrada entre os povos da floresta e as palmeiras que fornecem matéria-prima...
                </p>
                <a href="">Ler Mais →</a>
            </div>
        </div>

        <div class="blog-card">
            <img src="{% static 'maos_originarias/img/comunidade.png' %}" alt="">
            <div class="blog-conteudo">
                <div class="blog-categoria">COMUNIDADE</div>
                <h3>O Impacto do Comércio Justo</h3>
                <p>
                    Relatos reais de como a plataforma está transformando a vida de diversas famílias...
                </p>
                <a href="">Ler Mais →</a>
            </div>
        </div>

    </div>


</section>


<section class="avaliacoes">

  <h2>O que nossos clientes dizem</h2>
    <div class="cards">

    <div class="card-avaliacao">
        <div class="usuario">
        <img src="{% static 'maos_originarias/img/user.png' %}" alt="Usuário">
        <span>Maria Silva</span>
    
    </div>

    <p>"Produto incrível, feito com muito cuidado e qualidade!"</p>
    <p>Acari/RN</p>
  </div>

  <div class="card-avaliacao">
    <div class="usuario">
      <img src="{% static 'maos_originarias/img/user.png' %}" alt="Usuário">
      <span>João Souza</span>
    </div>

    <p>"Entrega rápida e artesanato muito bonito."</p>
    <p>Ceará-Mirim/RN</p>
  </div>

  <div class="card-avaliacao">
    <div class="usuario">
        <img src="{% static 'maos_originarias/img/user.png' %}" alt="Usuário">
        <span>Matheus Soares</span>
    </div>

        <p>"Artesanato muito bem produzido! Gostei muito😉👍"</p>
        <p>Natal/RN</p>

    
    </div>
    <div class="card-avaliacao">
        <div class="usuario">
            <img src="{% static 'maos_originarias/img/user.png' %}" alt="Usuário">
            <span>Joana Lima</span>
        </div>

            <p>"Adorei e indiquei para minha familia"</p>
            <p>Caicó/RN</p>
    </div>
    
    



</section>



<footer class="footer">

    <div class="footer-col">
        <h2>Mãos Originárias</h2>
        <p>Resgatando saberes ancestrais e gerando impacto socioambiental positivo através do artesanato indígena brasileiro.
        </p>

        <div class="social">
            <a href="#">Compartilhar site</a> |
            <a href="#">E-mail</a>
        </div>
    </div>

    <div class="footer-col">
        <h3>Links Rápidos</h3>
        <ul>
            <li>Sobre nós</li>
            <li>Nossos Parceiros</li>
            <li>Relatório de Impacto</li>
            <li>Termos de Uso</li>
        </ul>
    </div>

    <div class="footer-col">
        <h3>Atendimento</h3>
        <ul>
            <li>Políticas de Troca</li>
            <li>Envio e Entrega</li>
            <li>Contatos</li>
            <li>Dúvidas Frequentes</li>
        </ul>
    </div>
{% endblock %}
